

.container{
    @apply p-10 flex flex-row justify-end gap-4 flex-wrap col-span-10;
}

.list{

    @apply flex flex-row gap-4 items-center;
}

.logo{
    @apply text-3xl sm:text-5xl md:text-8xl font-black text-white w-full text-left sm:text-center  ;

    text-shadow:
    0 0 7px #fff,
    0 0 9px #fff;
    
}


@media (width <= 640px) {
    .logo{
        text-shadow: none;
    }
  }