@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}

.button {
  @apply bg-blue-500 rounded-md shadow-md text-white active:bg-blue-400;
}

.link {
  @apply text-white hover:underline visited:text-white;
}
