
.body{
    
    background: #403450;
    height:100vh;

background: -webkit-radial-gradient(center, #403450, #010101);
background: -moz-radial-gradient(center, #403450, #010101);
background: radial-gradient(ellipse at center, #403450, #010101);
}